body{
	background-color: #c9e9ff;
	color: #ffc196;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}
h1{
	/*border: 1px solid black;*/
	width: fit-content;
	margin: auto;
}

#charts{
	/*border: 1px solid black;*/
	height: fit-content;
	width: fit-content;
	float: left;
}

#chart_div{
	border: 2px solid black;
	position: relative;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1%;
    float: left;
}

#reg_stats{
	/*border: 1px solid black;*/
	position: relative;
	width: 43%;
	height: fit-content;
	float: right;

}

#reg_title{
	/*border: 1px solid black;*/
	width: fit-content;
    height: fit-content;
	font-size: 1.5em;
	text-align: center;
	color: #ffc196;
}

#reg_nums{
	/*border: 1px solid black;*/
	text-align: center;
}

#reg_questions{
	/*border: 1px solid black;*/
}

#regress{   
	border: 3px solid black;
    background: white;
    padding: 1%;
    width: 100%;
}

#chart_div2{
    border: 2px solid black;
	clear: left;
	position: relative;
	width: fit-content;
    height: fit-content
	background-color: white;
    float: left;
}

#studentStats{
	/*border: 1px solid black;*/
	position: relative;
	width: 20%;
	height: fit-content;
	margin-left: 2%;
	float: left;
}

#parents{
	border: 4px solid black;
	position: relative;
	width: 100%;
	height: fit-content;
	padding: 1%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	color: #1E90FF;
	float: left;1
}

#percent{
	border: 4px solid black;
	position: relative;
	width: 100%;
	height: fit-content;
	padding: 1%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	color: #1E90FF;
	float: left;
	clear: both;	
}

.table{
	border: 3px solid black;
	background-color: white;
}

#bulliedTB{
	/*border: 3px solid black;*/
	width: 43%;
	height: fit-content;
	float: right;
	margin-top: 2%;

}

#bullied_title{
	/*border: 1px solid black;*/
	font-size: 1.2em;
	height: fit-content;
}


#like_schoolTB{
	/*border: 1px solid black;*/
	width: 43%;
	height: fit-content;
	float: right;
	margin-top: 2%;
}

#like_school{
	/*border: 1px solid black;*/
}

#box{
	border: 4px solid black;
	width: 36%;
	height: 43%;
	background-color: white;
}