body{
	background-color: #c9e9ff;
	color: #ffc196;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}

#parents{
	width: 20%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	color: #1E90FF;
	border: 4px solid black;

}

#percent{
	width: 20%;
	height: 23%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	color: #1E90FF;
	border: 4px solid black;
}

#chart_div{
	border: 1px solid black;
	width: 20%;

}

#chart_div2{
	background-color: white;
	width: 30%;

}

.table{
	background-color: white;
	width: 32.5%;
	

}
#reg_nums{
	border: 1px solid black;
}
#reg_stats{
	border: 1px solid black;
}
	


#bullied_title{
	font-size: 1.2em;
	color:black;
	border: 1px solid black;
}

#reg_title{
	font-size: 1.2em;
	color:black;
}