body{
	background-color: #c9e9ff;
	color: #e570b5;
	font-weight: bold;
	
}
h1{
	/*border: 1px solid black;*/
	width: fit-content;
	margin: auto;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}

#charts{
	/*border: 1px solid black;*/
	height: fit-content;
	width: 100%;
	float: left;
	margin-bottom: 1.5%;
	text-shadow: none;
}

#chart_div{
	border: 2px solid black;
	position: relative;
    width: fit-content;
    height: fit-content;
    float: left;
}

#chart_div2{
    border: 2px solid black;
	position: relative;
	width: fit-content;
    height: fit-content;
	background-color: white;
    float: right;
}

#reg_stats{
	/*border: 1px solid black;*/
	position: relative;
	width: 45%;
	height: fit-content;
	float: left;
}

#reg_title{
	/*border: 1px solid black;*/
	width: fit-content;
    height: 15%;
	font-size: 1.5em;
	text-align: center;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}

#reg_questions{
	/*border: 1px solid black;*/
	text-shadow: none;
}

#regress{   
	border: 3px solid black;
    background: white;
    padding: 1%;
    width: 100%;
}

#studentStats{
	/*border: 1px solid black;*/
	position: relative;
	width: 45%;
	height: 45%;
	margin-left: 2%;
	float: right;
}

#parents{
	border: 4px solid black;
	position: relative;
	width: 100%;
	height: fit-content;
	padding: 1%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	float: left;
	margin-top: 15%;
}

#percent{
	border: 4px solid black;
	position: relative;
	width: 100%;
	height: fit-content;
	padding: 1%;
	background-color: white;
	font-size: 2em;
	text-align:center;
	float: left;
	clear: both;	
}

.table{
	border: 3px solid black;
	background-color: white;
}

#bulliedTB{
	/*border: 1px solid black;*/
	width: 45%;
	height: fit-content;
	float: right;
	margin-top: 2%;

}

#bullied_title{
	/*border: 1px solid black;*/
	font-size: 1.2em;
	height: fit-content;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}


#like_schoolTB{
	/*border: 1px solid black;*/
	width: 45%;
	height: fit-content;
	float: left;
	margin-top: 2%;
}

#like_school{
	/*border: 1px solid black;*/
	font-size: 1.2em;
	text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
}