
body{
  text-shadow: none;
  border: 10px dotted black;
  margin: 4%;
}

#chipStory{
background-image: url("../../assets/images/SpeechBubble2.png");
background-repeat: no-repeat;
background-size: 100% 100%;
width: 50%;
height: 60%;	
float: left;
margin-left: 20%;
margin-top: -5%;
padding: 1.4%;
text-align: center;
}

#chipStory p{
padding:3%;
margin-top: 4.5%;
font-size: 1.2em;
margin-left: -10%;
width:70%;
text-align: center;
color: black;
}

#stories{	
	padding: 1.5%;
	height: 70%;
	width: 40%;
	float: right;
	/*Margin numbers: top right bottom left*/
  margin-top: -20%;
  margin-right: -5%;
	/*text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;*/
}

#stories h4{
  color: white;
  font-size: 30px;

}

.list-group{
	margin: 0px;
	border: none;
  font-size: 25px;
}

a.list-group-item, button.list-group-item {
  height: 25%;
  width: 90%;
	color: black;
}

#topSpace{
  /*border: 1px solid black;*/
  width: 100%;
<<<<<<< HEAD
=======
  height: 175px;
  
>>>>>>> e45b66c7ee39ef33398dd8e51c698b7dffc27184
  margin-top:-5%;
}

#chip{
  border: none;
  float: left;
  height: 90%;
  width: 55%;
  margin-top: 30%;
  margin-left: -45%;

}

.home{
  color: white;

  /*border: 1px solid black;*/
 
}

/*-------------------------------------ANIMATIONS----------------------------------*/
#chipPic, #chip2{
   
  /*border: 1px solid black;*/

  /*Margin numbers: top right bottom left*/
  margin: 0px 0px 0px 80px;
  width: 210px;
  height: 200px;
  background-image: url("../../assets/images/glass.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  float: left;
  position: relative;
  z-index: 1;
  /*////////////////////////////////////////////////////////*/
  -webkit-animation-name: chip; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: chip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


#chip2{
  margin: 0px 80px 0px 0px;
  float: right;

  background-image: url("../../assets/images/glass2.png");
  /*//////////////////////////////////////////////////*/
  -webkit-animation-name: chipT; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: chipT;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes chip{
    0%   {left:0px; top:0px;}
   
    50%  { top:10px;}
  
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes chip{
    0%   { left:0px; top:0px;}
   
    50%  {  top:10px;}
  
    100% { left:0px; top:0px;}
}

 Safari 4.0 - 8.0 
@-webkit-keyframes chipT {
    0%   {left:0px; top:0px;}
   
    50%  { top:10px;}
  
    100% {left:0px; top:0px;}
}

 /*Standard syntax */
@keyframes chipT {
    0%   { left:0px; top:0px;}
   
    50%  {  top:10px;}
  
    100% { left:0px; top:0px;}
}