
form{
	/*border: 1px solid black;*/
	height: 500px;
	width: 1100px;
	float: left;

}



#question{
	border: 1px solid black;
	float: left;
	width: 1100px;
	height: 220px;
	font-size: 1.5em;
  	/*Margin numbers: top right bottom left*/
  	margin: 28px 0px 0px 0px;
  	padding: 35px;
  	text-align: center;
  	background-image: url("../../assets/images/speechBubble.png");
  	background-repeat: no-repeat;
  	background-size: 1100px 200px;
  	
}

#answer{
	border: 3px solid green;
}
#chip{
	border: 1px solid black;
	height: 220px;
	float:left;
	margin-left: 95px;
	position: relative;


}

.list-group{
	border: 2px dotted black;
	width: 505px;
	float: left;
	/*Margin numbers: top right bottom left*/
  	margin-left: 45px;
  	text-shadow: none;
}

a.list-group-item, button.list-group-item {
    height: 70px;
    width: 500px;

}
#buttons{
	height: 100px;
	width: 100px;
	color:black;
	float left;
	margin-left: 960px;
	margin-top: 280px;
	padding: 0px;
	position: absolute;

}

.btn{
	color:black;
	float left;
	margin: 0px;
	;
}