.home{
	border: 1px solid red;
}

#sidebar{
	border: 1px solid red;
	float: left;
	height: 300px;
	position: absolute;
	margin-bottom: 500px;
}

table{
	margin-top: 30px;
	border:1px solid black;
	background: white;
	color: black;
	text-shadow: none;
	width: auto !important;
	height: 200px;
	float: right;

}
 table th {
width: 200px;
 }
.btn{
	width: 160px;
}

 .myNav navbar navbar-inverse navbar-fixed-top{
 	border: 1px solid red;
 }
