#sidebar{
	border: 1px solid red;
	float: left;
	height: 300px;
}
 table th {
width: auto !important;
 }
table{
	margin-top: 30px;
	border:1px solid black;
	background: white;
	color: black;
	text-shadow: none;
	width: 100px;
	height: 200px;
	float: right;

}

.btn{
	width: 160px;
}

 .myNav navbar navbar-inverse navbar-fixed-top{
 	border: 1px solid red;
 }
