body{
	background-color: #c9e9ff;
	color: #ffc196;
	text-shadow:
   -1px -1px 0 #000,  
    .5px -.5px 0 #000,
    -1px 1px 0 #000,
     .5px .5px 0 #000;
}

.alert{
	-moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
.container{
	/*border: 1px solid green;*/
}

.myNav{
	/*border: 3px solid red;*/
	position: fixed;
	z-index: 1;
	background-color: #F5F5F5;
	border-bottom: 1px solid black;
}

.home{
	/*border: 1px solid red;*/
    height: 30%;
    position: relative;

}

#homeText{
    position: relative;
    top: 25%;
}

/*-------------------------------------ANIMATIONS----------------------------------*/
#chipPic{
    /*border: 1px solid red;*/
    width: 30%;
    height: 100%;
    background-image: url(../../assets/images/chip.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    animation-name: chip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    float: left;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes chip{
    0%   {left:0px; top:0px;}
   
    50%  { top:10px;}
  
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes chip{
    0%   { left:0px; top:0px;}
   
    50%  {  top:10px;}
  
    100% { left:0px; top:0px;}
}
/*---------------------------------------------*/

/*------------------Sidebar--------------------*/
.wrapper {
    /*border: 1px dotted black;*/
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 13%;
    position: absolute;
    margin-top: -4%;
    z-index: 2;
}

#sidebar {
    min-width: 100%;
    max-width: 100%;

	background-color: #F5F5F5;
    
    /*background:#0098fb*/
    border-right: 1px solid black;
}

#sidebar.active {
    margin-left: -100%;
}


#sideHead[data-toggle="collapse"] {
    position: relative;
}

#sideHead[aria-expanded="false"]::before, #sideHead[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#sideHead[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100%;
    }
    #sidebar.active {
        margin-left: 0%;
    }
}
/*----------------------------------------------------*/

/*------------------Table-----------------------------*/

.list-group-item{
	background: none;
	border: none;
}

#studentTable{
	/*border: 3px solid red;*/
	width: 65%;
	height: 40%;
}

table{
	border:2px solid black;
	margin: 0px auto;
	background: white;
	color: black;
	text-shadow: none;
	/*width: auto !important;*/
	height: 100%;
	float: left;
}

table th {
	width: 25%;
}

.btn{
	width: 100%;
}

a{
	color: white;
	font-size: 1.5em;
}
a:hover{
	color: black;
}
/*----------------------------------------------------------------------------------*/