
body{
	background: #c84664;
	/*color: #e5e5e5;
	text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;*/
}

#teacher{
background: #FFFF66;
/*color:#e5e5e5;*/
  
}
.home{
	
	padding: 23px ;

}

.myNav {
  background-color: #a9324e;

	text-shadow: none;	
 }
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
	color: #323232;
	text-shadow: none;	
	font-weight: bold;
	font-size: 15px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #88283E;
	text-shadow: none;	
}

#teacher .myNav {
	background-color: #ffff96;  
	text-shadow: none;	
	border-bottom: 3px dotted black;
 }

#teacher .navbar-inverse .navbar-nav > .active > a,
#teacher .navbar-inverse .navbar-nav > .active > a:hover,
#teacher .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #e4e400;
	text-shadow: none;	
}