
body{
	background: #c84664;
	color: #e5e5e5;
	text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
}

#teacherLogIn{
background: #9b5448;
color:#e5e5e5;
  
}
.home{
	
	padding: 23px ;
}
.survey{
	/*border: 1px solid black;*/
	height: 400px;
	width: 1100px;
	float: left;
}



#question{
	/*border: 5px solid black;*/
	float: left;
	
	width: 1100px;
	height: 250px;
	font-size: 1.5em;
  	font-weight: 300;
  	/*Margin numbers: top right bottom left*/
  	margin: 28px 0px 0px 70px;
  	padding: 35px;
  	text-align: center;
  	background-image: url("../../assets/images/speechBubble.png");
  	background-repeat: no-repeat;
  	background-size: 1100px 200px;

  	
}
#chip{
	height: 220px;
	border: none;
	float:left;
	padding-left: 95px;

}
.list-group{
	border: 2px dotted black;
	width: 505px;
	float: left;
	/*Margin numbers: top right bottom left*/
  	margin-left: 45px;
  	text-shadow: none;
}

a.list-group-item, button.list-group-item {
    height: 70px;
    width: 500px;

}

.myNav {
  background-color: #a9324e;
  border-bottom: 1px solid black;
 }
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
	color: #98DE0F;
	font-weight: bold;
	text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
	font-size: 15px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color:white;
	background-color: #88283E;
}

#teacherLogIn .myNav {
  background-color: #8b4b40;
 }

#teacherLogIn .navbar-inverse .navbar-nav > #teacherLogIn .active > a,
#teacherLogIn .navbar-inverse .navbar-nav > #teacherLogIn .active > a:hover,
#teacherLogIn .navbar-inverse .navbar-nav > .active > a:focus{
	color:white;
	background-color: #7c4339;
}